:root {

    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --just-white: #FFFFFF;
    --input-border-color:hsl(249, 10%, 26%, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(./images/bg-intro-mobile.png);
    background-color: var(--red);
}

input {
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
}

button {
    font-family: 'Poppins', sans-serif;
    border: none;
    background: none;
}

.main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    align-items: center;
}

.text-container {
    text-align: center;
    margin: 40px auto;
    color: var(--just-white);
    max-width: 600px;
}

.text-container__title {
    margin: 20px 0;
}

.text-container__paragraph {}
.action-container{
    max-width: 600px;
    margin: 0 auto;
}
.banner {
    border-radius: 12px;
    color: var(--just-white);
    text-align: center;
    background-color: var(--blue);
    padding: 20px 60px;
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: 400;
    box-shadow: 0px 8px 1px 0px rgba(0,0,0,0.15);
    
}
.banner strong{
    font-weight: 600;
}
.form{
    background-color: var(--just-white);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 8px 1px 0px rgba(0,0,0,0.15);
}
.form__group{
    margin-bottom: 15px;
    position: relative;
}
.form__group input{
    border: 2px solid var(--input-border-color);
    padding: 15px 15px;
    border-radius: 5px;
    width: 100%;
    font-weight: 600;
}
.form__group input:focus{
    border-color: var(--blue);
}

.form__group .input-error{
    border-color:var(--red);
}

.form__group .alert-icon{
    display: block;
    width: 30px;
    height: 30px;
    font-size: 2rem; /* 2 x 16px */
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position:center ;
    position: absolute;
    top: 12px;
    right: 5px;
}

.form .form__group .error-message{
    text-align: right;
    font-size: 12px;
    margin-top: 4px;
    font-style: italic;
    color: var(--red);
}


.form .button-submit{
    background-color: var(--green);
    color: var(--just-white);
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0px -5px 2px 0px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0px -5px 2px 0px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0px -5px 2px 0px rgba(0,0,0,0.2) inset;
    cursor: pointer;
}
.form .conditions{
    text-align: center;
    color: var(--grayish-blue);
    font-size: 11px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 20px;
    padding: 0 20px;
}
.form .conditions strong{
    color: var(--red);
    font-weight: 700;
}

footer{
    width: 100%;  
    height: 100%; 
    margin-top: 30px;
    padding: 15px 10px ;
    text-align: center;
    transition: all 300ms ease;
    font-size: 15px;
    font-size: 14px;
  
}
footer:hover{
    color: var(--just-white);
}

@media only screen and (min-width:1099px){
    .text-container{
        text-align: left;
    }
    .text-container__title{
        font-size: 3.4rem;
    }
    .text-container__paragraph{
        font-size: 1.1rem;
    }
}

